$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: black;
  margin: 0;
  padding: 24px;
}

#left {
  background: white;
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 24px;
}

  #left h1 {
    border-bottom: 1px dashed gray;
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

#source {
  background: none;
  border: none;
  font-size: 16px;
  height: 600px;
  overflow-y: scroll;
  padding: 0;
}

  #source.disabled a {
    color: gray;
  }

  #source a {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
  }

  #source a:hover {
    border: 1px solid gray;
    text-decoration: none;
  }

  #source a:active {
    text-decoration: none;
  }

  #source a.correct {
    border: 1px solid green;
  }

  #source a.wrong {
    border: 1px solid red;
  }

#right { }

  #right .well {
    background: gray;
    color: white;
    text-align: center;
  }

  #right .score-well {
    background: goldenrod;
    color: white;
  }

  #right h2 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  #right .number {
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
  }

.bootbox-input {
  font-family: monospace;
  font-size: 72px;
  height: 128px;
  text-align: center;
}

// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

// /* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-right: 15px;
//   padding-left: 15px;
// }

// /* Custom page header */
// .header {
//   padding-bottom: 20px;
//   border-bottom: 1px solid #e5e5e5;
// }

// /* Make the masthead heading the same height as the navigation */
// .header h3 {
//   margin-top: 0;
//   margin-bottom: 0;
//   line-height: 40px;
// }

// /* Custom page footer */
// .footer {
//   padding-top: 19px;
//   color: #777;
//   border-top: 1px solid #e5e5e5;
// }

// /* Customize container */
// @media (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }
// .container-narrow > hr {
//   margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
// }
// .jumbotron .btn {
//   padding: 14px 24px;
//   font-size: 21px;
// }

// /* Supporting marketing content */
// .marketing {
//   margin: 40px 0;
// }
// .marketing p + h4 {
//   margin-top: 28px;
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-right: 0;
//     padding-left: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
