$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: black url(../images/background.png);
  cursor: default;
  margin: 0;
  padding: 24px;
}

#title {
  left: 50%;
  margin-left: -400px;
  position: absolute;
  padding-top: 100px;
  width: 800px;
}

  #title form {
    text-align: right;
  }

  #title input {
    margin-left: 12px;
  }

  #title p {
    color: white;
    margin: 12px 0;
    text-align: right;
  }

#game {
  display: none;
}

#left {
  padding-right: 24px;
}

  #left .well {
    background: gray;
    border-style: outset;
    border-radius: 10px;
    color: white;
    text-align: center;
  }

  #left .row-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  #left .row-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  #left .score-well {
    background: goldenrod;
    color: white;
  }

  #left h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  #left .number {
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
  }

.container { }

  .container input {
    background-color: chocolate;
    border-color: chocolate;
    border-radius: 10px;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    text-transform: uppercase;
  }

  .container input:hover {
    background-color: sienna;
    border-color: sienna;
  }

#right {
  background: white;
  border-style: outset;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 24px;
}

  #right h1 {
    border-bottom: 1px dashed gray;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  #right a {
    text-decoration: none;
  }

  #right a.disabled {
    color: silver;
  }

  #right a:hover {
    text-decoration: none;
  }

  #right a:active {
    text-decoration: none;
  }

#source {
  background: none;
  border: none;
  font-size: 24px;
  height: 600px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  word-wrap: normal;
}

  #source.disabled a {
    color: gray;
  }

  #source a {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;

  }

  #source a:hover {
    border: 1px solid gray;
  }

  #source a.correct {
    border: 1px solid green;
  }

  #source a.wrong {
    border: 1px solid red;
  }

.bootbox-input {
  font-family: monospace;
  font-size: 72px;
  height: 128px;
  text-align: center;
}

.modal-banner {
  margin-top: 100px;
}

  .modal-banner .modal-content {
    background-color: goldenrod;
  }

.modal-report {
  margin-top: 200px;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 2000;
}

.banner {
  color: white;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.report {
  text-align: center;
}

  .report div {
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin-top: -125px;
    margin-bottom: 24px;
  }

.howtoplay,
.credits {
  text-align: center;
}
